/* ROOT SECTION START */
:root {
  --clr-text: #fff;
  --clr-dark: #000;
  --clr-design-text: rgb(153, 153, 153);

  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-28px: 1.75rem;
  --fs-32px: 2rem;
  --fs-48px: 3rem;
  --fs-56px: 3.5rem;
  --fs-64px: 4rem;
  --fs-72px: 4.5rem;
  --fs-84px: 5.25rem;
  --fs-96px: 6rem;

  --line-thick: 3px solid var(--clr-text);
  --line-thin: 2px solid var(--clr-text);
}

/*ROOT SECTION END */

/* CSS RESET  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS RESET END */

/* ELEMENT SELECTOR STYLES */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

/* ELEMENT SELECTOR END */

/* BOOTSTRAP STYLES RESET START */
.bg-dark {
  background-color: var(--clr-dark) !important;
}

/* BOOTSTRAP STYLES RESET END  */

/* UTILITY CLASSES START */

.design-text {
  font-size: var(--fs-24px);
  color: var(--clr-design-text);
}

.clr-design {
  color: var(--clr-design-text);
}

.text-align-justify {
  text-align: justify;
}

.border {
  border: var(--line-thin);
}

.clr-white {
  color: var(--clr-text);
  font-family: 'Jost';
}

.border-bottom {
  border-bottom: var(--line-thin);
}

.border-right {
  border-right: var(--line-thin);
}

.website-text {
  font-size: var(--fs-24px);
}

.section-text {
  font-size: var(--fs-64px);
  @media (max-width: 576px) {
    font-size: var(--fs-48px);
  }

  @media (max-width: 350px) {
    font-size: var(--fs-32px);
  }
}

.large-text {
  font-size: var(--fs-24px);
}

.flex-column-reverse {
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.hidden {
  display: none;
}

.visible{
  display:block;
}

/* UTILITY CLASSES END */

.wrapper {
  border: var(--line-thick);
}

.navbar-brand,
.nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-24px);
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: gold;
}

.profile-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  @media (max-width: 768px) {
    height: 300px;
    width: 300px;
  }
  @media (max-width: 350px) {
    height: 200px;
    width: 200px;
  }
}

.name {
  font-size: var(--fs-72px);

  @media (max-width: 576px) {
    font-size: var(--fs-48px);
  }

  @media (max-width: 425px) {
    font-size: var(--fs-32px);
  }

  @media (max-width: 375px) {
    font-size: var(--fs-28px);
  }
}

.about-content {
  @media (min-width: 992px) {
    width: 50%;
  }
}

.shapes-bg {
  background-image: url(../images/shape-bg-black.png);
  background-size: cover;
  height: 380px;
  animation: animate 10s linear infinite;
  @media (max-width: 350px) {
    height: 450px;
  }
}

@keyframes animate {
  to {
    background-position: 0px -500px;
  }
}

.shapes-bg-text {
  color: var(--clr-text);
  text-align: center;
  font-size: var(--fs-48px);
  line-height: 60px;
  margin: 0 auto;
  padding-bottom: 60px;

  @media (max-width: 992px) {
    font-size: var(--fs-32px) !important;
    line-height: 1.5 !important;
  }

  @media (max-width: 425px) {
    font-size: var(--fs-24px) !important;
    line-break: 1.5 !important;
  }
}

.btns {
  padding-block-start: 50px !important;
}

.tab-btn {
  color: var(--clr-design-text);
  font-size: 20px;
  font-family: Jost;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0 18px;
  cursor: pointer;
}

.tab-btn.active {
  color: var(--clr-text);
}

.box {
  width: 350px;
  height: 100%;
  border: var(--line-thin);
}

.box-image {
  width: 100%;
  height: 275px;
  padding: 0.85rem;
  border-bottom: var(--line-thin);
}
.box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-text {
  border-right: var(--line-thin);
  padding-inline-start: 0.5rem;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 3rem;
  cursor: pointer;
}

.service-icon {
  color: var(--clr-text);
  margin-block-end: 0.7rem;
}

/* CONTACT US SIDE  */

.form-main {
  padding-bottom: 100px;
}

.form {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

#form2 {
  width: 100%;
  height: 130px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.form input {
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  font-size: 20px;
  padding-top: 12px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0%;
  pointer-events: none;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 36px;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.form label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #ffaf00;
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 2px;
  left: 0px;
  transition: all 0.3s ease;
}

#content-name2 {
  position: absolute;
  bottom: 70px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-50%);
  font-size: 20px;
  color: #ffaf00;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.button-required {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 425px) {
    flex-direction: column-reverse;
  }
}


.send-btn {
    border: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    height: 65px;
    width: 220px;
    color: var(--clr-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.send-btn:hover {
    color: #ffaa00;
}

.send-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--clr-text);
    transition: all 1s;
}

.send-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--clr-text);
    transition: all 1s;
}

.send-btn:hover:before {
    left: 0;
}

.send-btn:hover:after {
    right: 0;
}

.send-span:before {
    content: '';
    position: absolute;
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background-color: var(--clr-text);
    transition: all 1s;
}

.send-btn:hover .send-span:before {
    top: 0;
}

.send-span:after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background-color: var(--clr-text);
    transition: all 1s;
}

.send-btn:hover .send-span:after {
    bottom: 0;
}